@charset "utf-8";

button.carousel-control-prev {
    background-color: #ffffff00;
    border: none;
}

button.carousel-control-next {
    background-color: #ffffff00;
    border: none;
}

img.d-block {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

p {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
}

ul#onepress {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin-top: 5px;
}

#onepress img {
    width: 90%;
}

li.one {
    margin-bottom: 10px;
}
h2 {
    margin-top: 50px;
    margin-left: 5px;
    padding: 15px;
}

h3 {
    text-align: center;
    font-size: 18px;
}

h1.new {
    margin-top: 75px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background-color: black;
}

input#inputName {
    background-color: #8080801c;
    border-color: white;
}

input#inputKanaName {
    background-color: #8080801c;
    border-color: white;
}

input#inputNickname {
    border-color: black;
}

input#inputEmail {
    border-color: black;
}

input#inputPhonenumber {
    border-color: black;
}

input#inputPassword {
    border-color: black;
}

input#inputPasswordAgain {
    border-color: black;
}

select#inputGender {
    border-color: black;
}

input#inputBirthday {
    border-color: black;
}

input#inputHeight {
    border-color: black;
}

input#inputCode {
    border-color: black;
}

input#inputCompany {
    border-color: black;
}

input#inputStyle {
    border-color: black;
}

input#inputMessage {
    border-color: black;
}

h1.service {
    margin-top: 100px;
}

input#inputName1 {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: #8080801c;
    border-color: white;
}

input#inputPassword1 {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #8080801c;
    border-color: white;
}

button.btn.btn-primary {
    width: 100%;
    height: 55px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 30px;
    border: none;
    background-color: black;
}

h1.summer {
    margin-top: 20px;
    background-color: #ffc107;
    font-family: system-ui;
}

h1.summer1 {
    margin-top: 20px;
    background-color: #98bfee;
    font-family: monospace;
}

h1.summer2 {
    margin-top: 20px;
    background-color: #f9ddb9;
    font-family: serif;
}

.register {
    text-align: center;
}

img {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.tshirt {
    display: flex;
}

img.picture3 {
    width: 60%;
    overflow: hidden;
    position: relative;
}

img.picture {
    width: 40%;
    overflow: hidden;
    position: relative;
}

p.text {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

img.picture3 {
    width: 55%;
    overflow: hidden;
    position: relative;
}

.denimstyle {
    display: flex;
}

img.denimpicture {
    width: 45%;
    overflow: hidden;
    position: relative;
}

.accessory {
    display: flex;
}

img.accessorypicture1 {
    width: 40%;
    overflow: hidden;
    position: relative;
}

html,
.text-center {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button.w-100.btn.btn-lg {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    background-color: black;
}

.styles {
    display: flex;
}

img.greenpants {
    width: 35%;
    overflow: hidden;
    position: relative;
}

img.blueskirt {
    width: 25%;
    overflow: hidden;
    position: relative;
}

img.pinkskirt {
    width: 25%;
    overflow: hidden;
    position: relative;
}

img.greenpants1 {
    width: 25%;
    overflow: hidden;
    position: relative;
}

h1.summercolor {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: lawngreen;
}

h2.colorbottoms {
    text-align: center;
}

h3.pantsstyle {
    margin-bottom: 20px;
    font-size: 20px;
}

h3.skirtstyle {
    margin-top: 70px;
    margin-bottom: 35px;
    font-size: 20px;
}

p.sentence {
    margin-top: 70px;
    font-size: 25px;
}

h2.worries {
    margin-bottom: 45px;
    text-align: center;
    font-size: 50px;
}

.btn-primary {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
    background-color: black;
    border-color: black;
}

input#floatingInput {
    border-color: black;
}

input#floatingPassword {
    border-color: black;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(0 0 0);
}

a.navbar-brand {
    background: none;
}

a.nav-link {
    background: none;
}

input#title {
    border-color: black;
}

textarea#content {
    border-color: black;
}

input#style {
    border-color: black;
}

input.btn.btn-danger.btn-block.col-sm-12 {
    color: black;
    background-color: white;
    border-color: black;
    margin-top: 30px;
}

h1 {
    margin-top: 75px;
    margin-bottom: 40px;
    text-align: center;
    background-color: black;
    color: white;
}

button.btn.btn-primary.change {
    width: 40%;
    margin-left: 30%;
}

.form-group {
    width: 40%;
    margin: 0 auto;
    margin-left: 30%;
    margin-bottom: 20px;
}

h1.mypage {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.col-sm-6.offset-sm-3 {
    margin: 0 auto;
}

form {
    margin-top: 45px;
}

p.text1 {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

p.text2 {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

th {
    background-color: black;
    color: white;
}

.table-bordered {
    border: none;
}

table.table.table-bordered.table-striped {
    table-layout: fixed;
}

a.offset-sm-4.col-sm-4.btn.btn-primaryr {
    color: white;
    background-color: black;
}

button.btn.btn-primaryr {
    border: solid;
    color: white;
    background-color: black;
}

button.send {
    color: white;
    background-color: black;
    border: black;
}

a.btn.btn-primary.col-sm-6 {
    height: 45px;
}

form.col-sm-6 {
    margin: 0;
}

a.btn.btn-primary.col-sm-6 {
    height: 38px;
}

a.respondent {
    color: black;
    background-color: white;
}

td.respondentbox {
    border: solid 1px;
}
/*チャット*/

.chatroom_border {
    border: solid 2px black;
    border-radius: 5px;
}

.chat_border {
    border: solid 1px black;
    background-color: white;
    border-radius: 10px;
}

.chat_botton {
    height: 50px;
}

*{
    margin: 0;
    padding: 0;
}

.field {
    width: 40%;
    height: 100vh;
    padding: 7px 0 14px;
    box-sizing: border-box;
    background-color: #00000014;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.input-field {
    width: 330px;
    height: 45px;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
}

input.chat-input {
    height: 40px;
    width: 350px;
    display: block;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    padding-left: 10px;
    margin: 0 auto;
    margin-top: 12px;
    margin-right: 20px;
    margin-left: -65px;
}

input.chat-input:focus {
    border: 1.3px solid;
    outline: 0;
}

input.chat-button {
    height: 40px;
    width: 30%;
    margin: auto;
    margin-top: 12px;
     margin-right: 7%; 
    font-size: 13px;
    background-color: black;
    color: white;
    display: block;
    border: none;
    box-sizing: border-box;
    border-radius: 6.5px;
}

input.chat-button:focus {
    outline: 0;
}

ul.chat-ul {
    padding: 0;
    list-style: none;
}

ul.chat-ul > li {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 7px;
    word-wrap: break-word;
}

ul.chat-ul > li > div {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 6px;
    min-height: 25px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.2em;
}

li.chat-right {
    margin-left: auto;
    margin-right: 30px;
    background: white;
}

li.chat-right::before {
    display: block;
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    top: 50%;
    right: 0;
    margin-right: 7px;
    /*skewで歪ませ、rotateで回転*/
    -webkit-transform: rotate(45deg) skew(-10deg, -10deg);
    -moz-transform: rotate(45deg) skew(-10deg, -10deg);
    -o-transform: Trotate(45deg) skew(-10deg, -10deg);
    -ms-transform: rotate(45deg) skew(-10deg, -10deg);
    transform-origin: 100% 0%;
    background: white;
}

li.chat-left {
    margin-left: 30px;
    background: white;
}

chat-left::before{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    top: 50%;
    margin-left: -14px;
    -webkit-transform: rotate(45deg) skew(-10deg, -10deg);
    -moz-transform: rotate(45deg) skew(-10deg, -10deg);
    -o-transform: rotate(45deg) skew(-10deg, -10deg);
    -ms-transform: rotate(45deg) skew(-10deg, -10deg);
    transform-origin: 100% 0%;
    background: white;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

form.chat {
    display: flex;
}

.top {
    margin-top: 300px;
    margin-bottom: 200px;
}

.box {
    width: 100%;
    height: 300px;
    margin: 0 0 50px;
    opacity: 0;
    transition: .5s;
    position: relative;
    top: 50px;
}

.active {
    opacity: 1;
    top: 0;
}

form.selection {
    margin-top: 5px;
}

a {
    color: black;
    background-color: white;
}

a.singup {
    color: white;
    background-color: black;
}
 パソコン、タブレット 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*タブレット 縦のみ	*/
@media screen and (max-width: 1024px) and (orientation: portrait){
    
}
/* タブレット 縦から */
@media screen and (max-width: 1024px){
    
}
/* スマホ 横のみ */
@media screen and (max-width: 896px) and (orientation: landscape){
    
}
/* スマホ 横から */ 
@media screen and (max-width: 896px){
    
}
/* スマホ　縦からは */
@media screen and (max-width: 480px){
    
    html {
        width: 100vw;
    }
    
    body {
        width: 100vw;
    }
    
    ul#onepress {
        width: 100vw;
        display: block;
    }
    
    img {
        padding: 5px;
    }
    
    ul#onepress {
        align-items: center;
         margin: 0 auto; 
        display: block;
    }
    
    ul.category {
        width: 100vw;
        display: -webkit-inline-box;
        /*margin: 0 auto;*/
    }
    
    img.d-block {
        width: 100vw;
        height: 55vw;
        /* margin: 0 auto; */
    }
    
    h2.recommendation {
        margin-top: revert;
        text-align: center;
    }
    
    input.btn.btn-primary.btn-block {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    }
    
    .form-group {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    }
    
    h1.new {
    margin-top: 30px;
    margin-bottom: 10px;
    }
    
    h1.mypage {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    }
    
    button.btn.btn-primary.change {
    width: 60%;
    margin: 0 auto;
    display: flow-root;
    }
    
    input#inputMessage {
    margin-bottom: 30px;
    }
    
    a.one1 {
    background-color: white;
    }
    
    h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    tr {
    display: inline-grid;
    }
    
    h1.summercolor {
    font-size: 42px;
    }
    
    p {
    padding: 12px;
    font-size: 17px;
    }
    
    .styles {
    display: block;
    }
    
    img.greenpants {
    width: 100%;
    }
    
    p.sentence {
    margin-top: 15px;
    font-size: 14px;
    }
    
    img.greenpants1 {
    width: 100%;
    }
    
    img.blueskirt {
    width: 100%;
    }
    
    img.pinkskirt {
    width: 100%;
    }
    
    .color {
    padding: 5px;
    }
    
    
}



