@charset "utf-8";
form.d-flex {
    margin-left: auto;
}

.btn-outline-success {
    color: black;
    border-color: black;
}

button.carousel-control-prev {
    background-color: #ffffff00;
    border: none;
}

button.carousel-control-next {
    background-color: #ffffff00;
    border: none;
}

img.d-block {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

p {
    margin: 0 auto;
    text-align: center;
}

ul#onepress {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin-top: 5px;
}

#onepress img {
    width: 90%;
}

.category {
    margin: 0 auto;
}

.category img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

ul.category {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    /* padding: 30px; */
    list-style-type: none;
}

h2 {
    margin-top: 50px;
    margin-left: 5px;
    padding: 15px;
}

h3 {
    text-align: center;
    font-size: 18px;
}

h1 {
    margin-top: 100px;
    text-align: center;
    color: white;
    background-color: black;
}

input#inputName {
    background-color: #8080801c;
    border-color: white;
}

input#inputKanaName {
    background-color: #8080801c;
    border-color: white;
}

input#inputNickname {
    border-color: black;
}

input#inputEmail {
    border-color: black;
}

input#inputPhonenumber {
    border-color: black;
}

input#inputPassword {
    border-color: black;
}

input#inputPasswordAgain {
    border-color: black;
}

select#inputGender {
    border-color: black;
}

input#inputBirthday {
    border-color: black;
}

input#inputHeight {
    border-color: black;
}

input#inputCode {
    border-color: black;
}

input#inputCompany {
    border-color: black;
}

input#inputStyle {
    border-color: black;
}

input#inputMessage {
    border-color: black;
}

h1.service {
    margin-top: 100px;
}

input#inputName1 {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: #8080801c;
    border-color: white;
}

input#inputPassword1 {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #8080801c;
    border-color: white;
}

button.btn.btn-primary {
    width: 100%;
    height: 55px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    color: #6a6767;
    background-color: black;
}

h1.summer {
    margin-top: 20px;
    background-color: #ffc107;
    font-family: system-ui;
}

h1.summer1 {
    margin-top: 20px;
    background-color: #98bfee;
    font-family: monospace;
}

h1.summer2 {
    margin-top: 20px;
    background-color: #f9ddb9;
    font-family: serif;
}

.register {
    text-align: center;
}

img {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.tshirt {
    display: flex;
}

img.picture3 {
    width: 60%;
    overflow: hidden;
    position: relative;
}

img.picture {
    width: 40%;
    overflow: hidden;
    position: relative;
}

p.text {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

img.picture3 {
    width: 55%;
    overflow: hidden;
    position: relative;
}

.denimstyle {
    display: flex;
}

img.denimpicture {
    width: 45%;
    overflow: hidden;
    position: relative;
}

.accessory {
    display: flex;
}

img.accessorypicture1 {
    width: 40%;
    overflow: hidden;
    position: relative;
}

html,
.text-center {
  height: 100%;
}

.text-center {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button.w-100.btn.btn-lg {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    background-color: black;
}

.styles {
    display: flex;
}

img.greenpants {
    width: 35%;
    overflow: hidden;
    position: relative;
}

img.blueskirt {
    width: 25%;
    overflow: hidden;
    position: relative;
}

img.pinkskirt {
    width: 25%;
    overflow: hidden;
    position: relative;
}

img.greenpants1 {
    width: 25%;
    overflow: hidden;
    position: relative;
}

h1.summercolor {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: lawngreen;
}

h2.colorbottoms {
    text-align: center;
}

h3.pantsstyle {
    margin-bottom: 20px;
    font-size: 20px;
}

h3.skirtstyle {
    margin-top: 70px;
    margin-bottom: 35px;
    font-size: 20px;
}

p.sentence {
    margin-top: 70px;
    font-size: 25px;
}

h2.worries {
    margin-bottom: 45px;
    text-align: center;
    font-size: 50px;
}

.btn-primary {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
    background-color: black;
    border-color: black;
}

input#floatingInput {
    border-color: black;
}

input#floatingPassword {
    border-color: black;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(0 0 0);
}

a.navbar-brand {
    background: none;
}

a.nav-link {
    background: none;
}
/* パソコン、タブレット */
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*タブレット 縦のみ	*/
@media screen and (max-width: 1024px) and (orientation: portrait){
    
}
/* タブレット 縦から */
@media screen and (max-width: 1024px){
    
}
/* スマホ 横のみ */
@media screen and (max-width: 896px) and (orientation: landscape){
    
}
/* スマホ 横から */ 
@media screen and (max-width: 896px){
    
}
/* スマホ　縦からは */
@media screen and (max-width: 480px){
    
    html {
        width: 100vw;
    }
    
    body {
        width: 100vw;
    }
    
    ul#onepress {
        width: 100vw;
        display: block;
    }
    
    img {
        padding: 5px;
    }
    
    ul#onepress {
        width: 120vw;
        align-items: center;
         margin: 0 auto; 
        display: block;
    }
    
    ul.category {
        width: 100vw;
        display: -webkit-inline-box;
        /*margin: 0 auto;*/
    }
    
    img.d-block {
        width: 100vw;
        height: 100vw;
        /*margin: 0 auto;*/
    }
    
}



