@charset "utf-8";
h1 {
    text-align: center;
    color: white;
    background-color: #00000059;
}
input#inputName {
    background-color: #8080801c;
    border-color: white;
}
input#inputKanaName {
    background-color: #8080801c;
    border-color: white;
}
input#inputNickname {
    background-color: #8080801c;
    border-color: white;
}
input#inputEmail {
    background-color: #8080801c;
    border-color: white;
}
input#inputPhonenumber {
    background-color: #8080801c;
    border-color: white;
}
input#inputPassword {
    background-color: #8080801c;
    border-color: white;
}
input#inputPasswordAgain {
    background-color: #8080801c;
    border-color: white;
}
select#inputGender {
    background-color: #8080801c;
    border-color: white;
}
input#inputBirthday {
    background-color: #8080801c;
    border-color: white;
}
input#inputHeight {
    background-color: #8080801c;
    border-color: white;
}
input#inputCode {
    background-color: #8080801c;
    border-color: white;
}
input#inputCompany {
    background-color: #8080801c;
    border-color: white;
}

h1.service {
    margin-top: 100px;
}
input#inputName1 {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: #8080801c;
    border-color: white;
}
input#inputPassword1 {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #8080801c;
    border-color: white;
}
button {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    align-items: center;
    color: #6a6767;
}
h1.summer {
    margin-top: 20px;
    background-color: #ffc107;
    font-family: system-ui;
}
h1.summer1 {
    margin-top: 20px;
    background-color: #98bfee;
    font-family: monospace;
}
h1.summer2 {
    margin-top: 20px;
    background-color: #f9ddb9;
    font-family: serif;
}
.register {
    text-align: center;
}
